<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <title>List Product</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{Cascading Style Sheets/styles.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">Mobile Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="hasAuthority('admin')" th:href="@{/product}">Add product</a></li>
            </ul>
            <form th:action="@{/cart}" class="d-flex">
                <button class="btn btn-outline-dark" type="submit" >
                    <i class="bi-cart-fill me-1"></i>
                    Cart

                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div th:object="${product}" class="row gx-4 gx-lg-5 align-items-center" id="productDetail">

            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{image/{url}(url=*{image})}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"><h6 class="detail-tag-text">Item code: </h6> <h6 class="code-text" th:text="*{productId}"></div>
                <h1 class="display-5 fw-bolder" th:text="*{productName}"/>
                <div class="fs-5 mb-2">
                    <span><h6 class="detail-tag-text">Price:</h6> <h6 class="detail-text" th:text="*{price}"/></span>
                </div>
                <div class="fs-5 mb-2">
                    <span><h6 class="detail-tag-text">Category:</h6> <h6 class="detail-text" th:text="*{categoryByCategoryId.categoryName}"></h6></span>
                </div>
                <div class="fs-5 mb-2">
                    <span><h6 class="detail-tag-text">Avalible in stocks:</h6> <h6 class="detail-text" th:text="*{quantity}"/></span>
                </div>
                <p class="lead" th:text="*{description}"></p>
                <div class="d-flex">

                    <button class="btn btn-outline-dark flex-shrink-0" id="addToCart" type="button" >
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>